/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Container */
.container {
  height: 100%;
  overflow: hidden;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  color: white; /* Set the text color to white */
  background: linear-gradient(
    to right,
    #2b3a42,
    #4c6576
  ); /* Set the background gradient */
}

/* Gradient Heading */
.heading {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: linear-gradient(
    to right,
    #fff,
    #decba4
  ); /* Dark grey to light brown */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gradient Background */
.background {
  padding: 10px;
  background: linear-gradient(
    to right,
    #2b3a42,
    #4c6576
  ); /* Dark blue-grey to lighter blue-grey */
}

/* Add this to your styles.css file */
.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(17, 34, 92);
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: black;
}

/* Other Styles */
.area {
  height: 90vh;
  background-color: grey;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.parking-line {
  width: 100%;
  display: flex;
  height: 20rem;
  padding: 40px;
}
.markings {
  margin-top: 20px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.slot-area {
  width: 10%;
  height: 100%;
}
.slot {
  background-color: #59e659;
  width: 80px;
  height: 90%;
  border: 4px solid green;
  margin: 1px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.slot:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.slot-count {
  justify-items: left;
  padding-left: 40px;
  padding-top: 10px;
}

.slot-count h4 {
  color: rgb(51, 105, 204);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}

.line {
  width: 100%;
  height: 8px;
  background-color: white;
  margin-top: 8px;
}
.stop {
  rotate: 90deg;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
}
.icon {
  align-self: flex-end;
  display: flex;
  height: 8rem;
  justify-content: flex-end;
}

.divider {
  background-color: white;
  width: 8px;
  margin-left: 8px;
}
.divide {
  background-color: white;
  width: 8px;
  margin-right: 8rem;
}
.path {
  display: flex;
  margin-left: 6rem;
}

ul li {
  list-style: none;
}

.instructions {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: rgb(51, 105, 204);
  border: 2px;
  border-color: #b1b5c2;
  border-radius: 3px;
  background-color: transparent;
  text-align: left;
  padding-left: 40px;
  padding-top: 25px;
}

#error-message {
  margin-top: 4px;
  margin-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(21, 48, 136);
  font-size: 18px;
  padding-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .heading {
    font-size: 16px;
  }
  .parking-line {
    padding: 20px;
  }
  .slot {
    width: 80%;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .slot::before {
    content: attr(data-text);
    transform: rotate(90deg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .slot span {
    display: none; /* Hide the original text in the responsive view */
  }
  .divide {
    display: none;
  }
  .path {
    margin-left: 1rem;
  }
  .divider {
    display: none;
  }
  .block {
    display: none;
  }
  .logout-button {
    padding: 5px 10px;
  }
}
